<section class="section background">
  <div class="section__title">about</div>
  <div class="section__content">
<!--Currently, I work for [COMPANY] as a [ROLE].-->
    <p>
      Rachel graduated from 
      <a href="https://tamu.edu">Texas A&M University</a> in 2021 with a Bachelor of Science in Industrial Engineering. 
      Since then, she's worked for
      <a href="https://cpsenergy.com">CPS Energy</a> as an Engineering Associate and
      <a href="https://enersponse.com">Enersponse</a> as an Energy Markets Analyst.
    </p>

    <p>
      Rachel has experience in project management and data analytics, a versatile combination that lends itself well 
      towards a wide variety of roles. Her experience in the energy industry has given her a keen awareness of 
      the issues facing the electric grid and a desire to make things run that much better. She has an eye for detail and 
      a passion for weaving stories out of data.
    </p>

    <p>
      In her spare time, Rachel enjoys studying Japanese, data science, and frontend web dev. She also likes reading, hiking, 
      house music, and sipping coffee at comfy cafés.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
